body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background: #f3f4f6;
}

canvas {
  max-width: 90%;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
